.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  font-family: 'grand-slang-roman';
}

.welcome {
  font-family: 'grand-slang-roman';
  max-width: 800px;
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
}

.copy {
  font-family: 'grand-slang-roman';
  max-width: 800px;
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: flex-start;
  width: 100%;
}

.copy a:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.label {
  font-family: 'grand-slang-roman';
  width: 100%;
  padding-left: 0.7rem;
  display: flex;
  font-size: small;
}

.container {
  background-color: #fff;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0 0 0;
  border-radius: 7px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;
  margin: 0.25rem 0;
}

.container:hover {
  border: 1px solid #808080;
}

.container:focus-within {
  border-color: #3c84ff;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  font-family: 'grand-slang-roman';
  width: 95%;
  padding: 0.2rem 0.7rem 0.7rem 0.7rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.7rem;
  border: none;
}

.input:focus {
  outline: none;
}

.iconButton {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 0.25rem;
  margin-bottom: 0.3rem;
  border: none;
}

.iconButton:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0.9;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.2s;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

@font-face {
  font-family: 'grand-slang-roman';
  src: url('/public/fonts/GrandSlang-Roman.woff') format('woff');
}

@media screen and (max-width: 600px) {
  .main {
    padding: 2rem;
  }
  .copy {
    font-size: 1rem;
  }
  .input {
    font-size: 1rem;
  }
}
